.page.alerts {
  .alerts {
    padding-top: 48px;
    padding-bottom: 96px;

    &::before {
      position: absolute;
      pointer-events: none;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-color: var(--color-gray-25);
      content: '';
      display: block;
      width: 100vw;
      height: 100%;
    }
  }

  .alert,
  .special {
    .img {
      width: 100%;
      height: 240px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin: 0;
      }
    }
  }

  .head {
    .img {
      width: 100%;
      height: 516px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: 768px) {
        margin-bottom: 96px;
      }
    }
  }
  .skip {
    @media (min-width: 768px) {
      height: 96px;
    }
  }
  .info {
    margin-bottom: 16px;
    .icon {
      width: 20px;
      margin-right: 14px;
    }

    .text {
      width: calc(100% - 34px);
      color: var(--color-white);
    }
  }

  .post {
    @extend .text-style-text-lg-normal;

    p {
      margin-bottom: 48px;
      margin-top: 0;
    }

    h5 {
      @extend .text-style-text-xl-normal;
      margin: 0;
      margin-bottom: 48px;
    }

    img {
      max-width: 100%;

      &.aligncenter {
        display: block;
        margin: 0 auto;
      }
    }

    a {
      color: var(--color-gray-500);
      text-decoration: underline;
    }

    ol,
    ul {
      padding-left: 25px;
    }

    blockquote {
      margin: 0 0 48px;
      padding-left: 20px;
      padding-right: 0;
      border-left: 2px solid var(--color-primary-700);
      color: var(--color-gray-900);

      p {
        @extend .text-style-display-xs-medium-italic;
      }

      p:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}

@import 'slug';
