footer {
  .top {
    padding: 64px 0 48px;
    background: var(--color-gray-800);
    color: var(--color-gray-400);

    a {
      color: var(--color-gray-200);
    }
  }

  .badge {
    color: var(--color-success-700);
    background: var(--color-success-50);
    @include flex();
    height: 22px;
    padding: 0 9px;
    border-radius: 11px;
  }

  .bottom {
    padding: 48px 0;
    background: var(--color-gray-900);
    color: var(--color-gray-400);

    .social {
      display: block;
      margin-left: 24px;
    }
  }
}
